@import "node_modules/bourbon/core/bourbon";

@mixin transform($values...) {
    @each $var in $values {
        @include prefixer(transform, #{$var}, ("webkit", "moz", "ms", "o"));
    }
}

@mixin transform-origin($values...) {
    @each $var in $values {
        @include prefixer(transform-origin, #{$var}, ("webkit", "moz", "ms", "o"));
    }
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");

html,
body {
    font-family: "Noto Sans", sans-serif;

    background-color: black;
}

.background {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    background-image: url("data/retrowave_bg.gif");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -2;
}

.gradient {
    width: 100vw;
    height: calc(100vh + 100px);

    @include position(absolute, 0 0 null null);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 20) 95%, rgba(0, 0, 0, 255) 100%);

    z-index: -1;
}

@import "header";

.content {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto 100vh auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    justify-items: center;
    justify-content: center;
    align-content: space-around;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/

.main {
    grid-area: main;

    display: grid;

    margin-top: 50px;

    grid-template-rows: auto;

    @media only screen and (max-width: 999px) {
        grid-template-columns: 100%;
        grid-template-areas:
            "info"
            "context";
    }

    @media only screen and (min-width: 1000px) {
        grid-template-columns: auto 30px auto;
        grid-template-areas: 
            "info . context";
    }

    justify-items: center;
    justify-content: flex-start;
    align-items: flex-start;

    .about {
        grid-area: info;

        @media only screen and (max-width: 999px) {
            width: 90vw;
        }

        @media only screen and (min-width: 1000px) {
            width: 48em;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .context {
        grid-area: context;
        img {
            width: 18em;
        }
    }
}

.footer {
    width: 100%;
    padding: 10px;

    //@include position(absolute, null null 0 null);

    color: rgb(146, 146, 146);

    text-align: center;
}
