@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
html,
body {
  font-family: "Noto Sans", sans-serif;
  background-color: black;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  background-image: url("data/retrowave_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.gradient {
  width: 100vw;
  height: calc(100vh + 100px);
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(95%, black), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
  z-index: -1;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
  font-family: "Noto Serif", serif;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 35vw 150px 35vw;
      grid-template-rows: 15vh;
      grid-template-areas: "lbuttons icon rbuttons";
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(5, 25, 56, 0.336);
  border-bottom: 4px dashed rgba(5, 25, 56, 0.863);
}

.header .buttons_left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lbuttons;
}

.header .buttons_right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rbuttons;
}

.header .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 25vw;
}

.header .buttons a {
  text-decoration: none;
}

.header .buttons h5 {
  all: revert;
}

.header .buttons h5.header__text {
  font-size: 15px;
  text-decoration: underline;
  color: #eca089;
}

.header .buttons h5.header__text:hover {
  cursor: pointer;
  color: #d16aeb;
  text-decoration: underline;
}

.header .buttons h5.active {
  text-decoration: initial;
  color: purple;
}

.header .icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
}

.header .icon .hills {
  left: calc(50% - 60px);
  width: 120px;
  -webkit-clip-path: ellipse(60px 60px at 50% 50%);
          clip-path: ellipse(60px 60px at 50% 50%);
}

.header .icon .give_love {
  position: absolute;
  left: calc(50% - 51px);
  width: 102px;
  margin-top: 6px;
}

.header .icon .a_portfolio {
  position: absolute;
  left: calc(50% - 102px);
  width: 204px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 150px auto;
      grid-template-rows: 150px auto;
      grid-template-areas: "header" "main";
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48rem auto;
      grid-template-columns: 48rem auto;
  -ms-grid-rows: 20rem;
      grid-template-rows: 20rem;
      grid-template-areas: "info me" "info2 me";
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem;
}

.main .info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  width: 48rem;
}

.main .info p {
  font-size: 1.1rem;
}

.main .me {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: me;
}

.main .me img {
  width: 18rem;
}

.main .info2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info2;
  width: 48rem;
}

.main .info2 p {
  font-size: 1.1rem;
}

.footer {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #929292;
  text-align: center;
}
/*# sourceMappingURL=about.css.map */