@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
@font-face {
  font-family: SofiaSans;
  font-style: normal;
  src: url(data/SofiaSans[wdth,wght].woff2) format("woff2");
}
@font-face {
  font-family: SofiaSans;
  font-style: italic;
  src: url(data/SofiaSansItalic[wdth,wght].woff2) format("woff2");
}
html,
body {
  font-family: "SofiaSans", "Noto Sans", sans-serif;
  background-color: black;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  background-image: url("data/retrowave_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.gradient {
  width: 100vw;
  height: calc(100vh + 100px);
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 95%, rgb(0, 0, 0) 100%);
  z-index: -1;
}

/*  Fluid typography 
    This is simply a mapping function: 
        size = min + (max - min) * (100vw - min_width) / (max_width - min_width)
*/
.header {
  grid-area: header;
  width: 100%;
  font-family: "Noto Serif", serif;
  display: flex;
  background-color: rgba(5, 25, 56, 0.336);
  border-bottom: 4px dashed rgba(5, 25, 56, 0.863);
}
.header .icon_container {
  flex: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .button_container {
  flex: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 519px) {
  .header {
    flex-flow: column nowrap;
  }
  .header .button_container {
    margin-top: 30px;
    justify-content: space-around;
  }
  .header .buttons {
    width: 50vw;
  }
}
@media only screen and (min-width: 520px) {
  .header {
    flex-flow: row nowrap;
  }
  .header .button_container {
    width: 100%;
    margin-top: initial;
    margin-left: -100%;
    justify-content: space-around;
  }
  .header .buttons {
    width: 25vw;
  }
}
.header .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-content: center;
  text-align: center;
}
.header .buttons a {
  text-decoration: none;
}
.header .buttons h5 {
  all: revert;
}
.header .buttons h5.header__text {
  text-decoration: underline;
  color: #eca089;
}
.header .buttons h5.header__text {
  font-size: 12px;
}
@media only screen and (min-width: 400px) {
  .header .buttons h5.header__text {
    font-size: calc(12px + calc(($max-size - $min-size) / $unit) * ((100vw - 400px) / calc(($max-vw - $min-vw) / $unit)));
  }
}
@media only screen and (min-width: 1400px) {
  .header .buttons h5.header__text {
    font-size: 16px;
  }
}
.header .buttons h5.header__text:hover {
  cursor: pointer;
  color: #d16aeb;
  text-decoration: underline;
}
.header .buttons h5.active {
  text-decoration: initial;
  color: purple;
}
.header .icon {
  grid-area: icon;
  margin-top: 15px;
  width: 130px;
  display: flex;
  flex-flow: row nowrap;
}
.header .icon .hills {
  width: 100%;
  flex: none;
  -webkit-clip-path: ellipse(65px 65px at 50% 50%);
          clip-path: ellipse(65px 65px at 50% 50%);
}
.header .icon .give_love {
  width: 110.5px;
  flex: none;
  margin-left: calc(-100% + 10px);
  margin-top: 3px;
  z-index: 2;
}
.header .icon .a_portfolio {
  width: 195px;
  flex: none;
  margin-left: calc(-100% - 25px);
  margin-bottom: -45px;
  z-index: 2;
}

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100vh auto;
  grid-template-areas: "header" "main" "footer";
  justify-items: center;
  justify-content: center;
  align-content: space-around;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/
.main {
  grid-area: main;
  display: grid;
  margin-top: 50px;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
@media only screen and (max-width: 999px) {
  .main {
    grid-template-columns: 100%;
    grid-template-areas: "about" "projects" "me";
  }
}
@media only screen and (min-width: 1000px) {
  .main {
    grid-template-columns: auto 30px auto;
    grid-template-areas: "about . me" ". projects ." "footer footer footer ";
  }
}
.main .about,
.main .projects {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 999px) {
  .main .about,
.main .projects {
    width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  .main .about,
.main .projects {
    width: 48em;
  }
}
.main .about p,
.main .projects p {
  font-size: 1.1rem;
}
.main .about {
  grid-area: about;
}
.main .about .spotify, .main .about .github, .main .about .projects {
  display: flex;
  align-items: center;
}
.main .about .spotify .icon, .main .about .github .icon, .main .about .projects .icon {
  display: flex;
  align-items: center;
  width: 25px;
  margin-right: 8px;
}
.main .about .spotify .icon img, .main .about .github .icon img, .main .about .projects .icon img {
  width: 25px;
}
.main .projects {
  grid-area: projects;
}
.main .context {
  grid-area: context;
}
.main .context img {
  width: 18em;
}
.main .me {
  grid-area: me;
  margin-bottom: 1rem;
}
.main .me img {
  width: 25em;
}
.main .footer {
  grid-area: footer;
  width: 100%;
  padding: 10px;
  color: rgb(146, 146, 146);
  text-align: center;
}/*# sourceMappingURL=about.css.map */