@import "header";

.content {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header";

    justify-items: center;
    justify-content: center;
    align-content: space-around;
}

.header {
    background-color: black;
    background-image: url("data/retrowave_bg.gif");
    background-repeat: no-repeat;

    @media only screen and (max-width: 519px) {
        background-position: 0vh 15vh;
    }

    @media only screen and (min-width: 520px) {
        background-position: 0vh -15vh;
    }

    background-size: 100vw;

    border: 5px dashed yellow;

    margin-bottom: 20px;
}
