@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
/*  Fluid typography 
    This is simply a mapping function: 
        size = min + (max - min) * (100vw - min_width) / (max_width - min_width)
*/
@font-face {
  font-family: SofiaSans;
  font-style: normal;
  src: url(data/SofiaSans[wdth,wght].woff2) format("woff2");
}
@font-face {
  font-family: SofiaSans;
  font-style: italic;
  src: url(data/SofiaSansItalic[wdth,wght].woff2) format("woff2");
}
@font-face {
  font-family: Veleka;
  font-style: normal;
  src: url(data/Veleka-Regular.woff) format("woff");
}
@font-face {
  font-family: Veleka;
  font-style: italic;
  src: url(data/Veleka-Italic.woff) format("woff2");
}
@font-face {
  font-family: Veleka;
  font-weight: 800;
  src: url(data/Veleka-Bold.woff) format("woff2");
}
@font-face {
  font-family: Veleka;
  font-weight: 800;
  font-style: italic;
  src: url(data/Veleka-BoldItalic.woff) format("woff2");
}
html * {
  font-family: "SofiaSans", "Noto Sans", sans-serif;
}

html body {
  background-color: white;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  z-index: -2;
}

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "back_to" "header" "main" "footer";
  justify-items: center;
  justify-content: center;
  align-content: space-around;
}

.back_to {
  grid-area: back_to;
  margin: 20px;
}

.main {
  grid-area: main;
  width: min(90vw, 700px);
}
.main .title {
  margin-top: -10px;
}
.main .title h1 {
  font-family: sans-serif;
  text-align: center;
}
.main .title a {
  color: #222222;
  text-decoration: none;
}
.main .title a:hover {
  text-decoration: underline;
}
.main .articles {
  height: 60vh;
  margin-top: 50px;
}
.main .articles .article_link {
  display: flex;
  flex-direction: column;
}
.main .articles .article_link .title_tags {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  .main .articles .article_link .title_tags {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (min-width: 851px) {
  .main .articles .article_link .title_tags {
    flex-direction: row;
  }
}
.main .articles .article_link .title_tags .title {
  margin-bottom: 8px;
}
.main .articles .article_link .title_tags .title a {
  color: #222222;
  text-decoration: none;
}
.main .articles .article_link .title_tags .title a :hover {
  text-decoration: underline;
}
.main .articles .article_link .title_tags .tags {
  margin-bottom: 8px;
  display: flex;
  margin-top: -9px;
}
.main .articles .article_link .title_tags .tags .tag {
  margin-left: 8px;
  background-color: cornflowerblue;
  border-radius: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.3rem;
}
.main .articles .article_link .title_tags .tags .tag span {
  color: white;
  margin: 6px;
  font-size: 1.2rem;
}
.main .articles .article_link .date p {
  font-size: 1.5rem;
}
.main .article .header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .article .header .title_and_author {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 550px) {
  .main .article .header .title_and_author {
    flex-direction: column;
  }
  .main .article .header .title_and_author .title {
    width: 100%;
  }
}
@media only screen and (min-width: 551px) {
  .main .article .header .title_and_author {
    flex-direction: row;
  }
  .main .article .header .title_and_author .title {
    width: 60%;
  }
}
.main .article .header .dates {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: flex-start;
}
@media only screen and (max-width: 350px) {
  .main .article .header .dates {
    flex-direction: column;
  }
}
@media only screen and (min-width: 351px) {
  .main .article .header .dates {
    flex-direction: row;
  }
}
.main .article .header .dates .date {
  margin-bottom: 3px;
}
.main .article .header .dates .date p {
  font-size: 1.3rem;
}
.main .article .header .dates .edit_date {
  margin-top: 0.12rem;
  color: gray;
}
.main .article .header .dates .edit_date p {
  font-size: 1rem;
}
@media only screen and (max-width: 350px) {
  .main .article .header .dates .edit_date {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 351px) {
  .main .article .header .dates .edit_date {
    margin-left: 15px;
  }
}
.main .article .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .article .content p {
  font-family: sans-serif;
  font-size: 1.4rem;
}
.main .article .content pre {
  background-color: white;
  font-size: 1.2rem;
  color: #232323;
}
.main .article .content .note {
  font-size: 1.1rem;
  color: gray;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main .article .content .message_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}
.main .article .content .message_section .message_bilil_div,
.main .article .content .message_section .message_soti_div {
  display: flex;
}
.main .article .content .message_section .message_soti_div {
  justify-content: flex-end;
}
.main .article .content .message_section .message_bilil_container,
.main .article .content .message_section .message_soti_container {
  width: 80%;
}
.main .article .content .message_section .message_bilil_container {
  display: flex;
  flex-direction: column;
}
.main .article .content .message_section .message_bilil_container :first-child {
  border-radius: 1rem 0.5rem 0.2rem 0.5rem;
}
.main .article .content .message_section .message_bilil_container :last-child {
  border-radius: 0.5rem 0.2rem 0.5rem 1rem;
}
.main .article .content .message_section .message_bilil,
.main .article .content .message_section .message_soti {
  font-size: 1.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}
.main .article .content .message_section .message_bilil {
  border: solid 1px #e1e1e1;
  border-radius: 0.5rem;
}
.main .article .content .message_section .message_soti_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main .article .content .message_section .message_soti_container :first-child {
  border-radius: 0.5rem 1rem 0.2rem 0.5rem;
}
.main .article .content .message_section .message_soti_container :last-child {
  border-radius: 0.5rem 0.2rem 1rem 0.5rem;
}
.main .article .content .message_section .message_soti {
  background: linear-gradient(180deg, rgb(139, 47, 184) 0%, rgb(103, 88, 205) 51%, rgb(89, 116, 219) 92%) no-repeat center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;
}

.footer {
  grid-area: footer;
  width: 100%;
  padding: 10px;
  color: rgb(146, 146, 146);
  text-align: center;
}

.header {
  grid-area: header;
  width: 100%;
  display: flex;
}
.header .icon_container {
  flex: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .icon {
  margin-top: 15px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
}
.header .icon .hills {
  width: 100%;
  flex: none;
  -webkit-clip-path: ellipse(65px 65px at 50% 50%);
          clip-path: ellipse(65px 65px at 50% 50%);
}/*# sourceMappingURL=blog.css.map */