@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");
html,
body {
  font-family: "Noto Sans", sans-serif;
  background-color: black;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  background-image: url("data/retrowave_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.gradient {
  width: 100vw;
  height: calc(100vh + 100px);
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(40%, black), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 40%, black 100%);
  z-index: -1;
}

/*  Fluid typography 
    This is simply a mapping function: 
        size = min + (max - min) * (100vw - min_width) / (max_width - min_width)
*/
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
  font-family: "Noto Serif", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(5, 25, 56, 0.336);
  border-bottom: 4px dashed rgba(5, 25, 56, 0.863);
}

.header .icon_container {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .button_container {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 519px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .header .button_container {
    margin-top: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .buttons {
    width: 50vw;
  }
}

@media only screen and (min-width: 520px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .header .button_container {
    width: 100%;
    margin-top: initial;
    margin-left: -100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .buttons {
    width: 25vw;
  }
}

.header .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.header .buttons a {
  text-decoration: none;
}

.header .buttons h5 {
  all: revert;
}

.header .buttons h5.header__text {
  text-decoration: underline;
  color: #eca089;
}

.header .buttons h5.header__text {
  font-size: 12px;
}

@media only screen and (min-width: 400px) {
  .header .buttons h5.header__text {
    font-size: calc( 12px + 4 * ((100vw - 400px) / 1000));
  }
}

@media only screen and (min-width: 1400px) {
  .header .buttons h5.header__text {
    font-size: 16px;
  }
}

.header .buttons h5.header__text:hover {
  cursor: pointer;
  color: #d16aeb;
  text-decoration: underline;
}

.header .buttons h5.active {
  text-decoration: initial;
  color: purple;
}

.header .icon {
  grid-area: icon;
  margin-top: 15px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.header .icon .hills {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-clip-path: ellipse(65px 65px at 50% 50%);
          clip-path: ellipse(65px 65px at 50% 50%);
}

.header .icon .give_love {
  width: 110.5px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: calc(-100% + 10px);
  margin-top: 3px;
  z-index: 2;
}

.header .icon .a_portfolio {
  width: 195px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: calc(-100% - 25px);
  margin-bottom: -45px;
  z-index: 2;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "main";
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 80%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "videos_title" "videos" "projects_title" "projects" "posts_title" "posts";
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem;
}

.main .videos_title, .main .projects_title, .main .posts_title {
  -ms-grid-column-align: left;
      justify-self: left;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  color: #c0c0c0;
  margin-bottom: -9px;
  margin-top: 20px;
}

.main .projects_title, .main .posts_title {
  width: 100%;
  text-align: center;
  font-family: "Noto Sans", serif;
  color: #1aadad;
  border-bottom: dashed 5px rgba(16, 105, 156, 0.438);
}

.main .videos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: videos;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  border: 5px ridge gray;
  background-color: rgba(255, 255, 255, 0.096);
}

.main .videos .video {
  color: #ffffff;
  background-color: rgba(16, 105, 156, 0.438);
}

.main .projects {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: projects;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .projects a {
  text-decoration: none;
}

.main .projects .project {
  height: 12rem;
  border: 5px ridge gray;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "desc";
  justify-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  background-color: rgba(16, 105, 156, 0.438);
}

.main .projects .project .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  padding: 20px;
  margin-bottom: -30px;
}

.main .projects .project .desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc;
  padding: 20px;
  color: #b9b9b9;
}

.main .projects .project:hover {
  border: 5px groove gray;
  color: #2be1ee;
  background-color: rgba(33, 68, 85, 0.308);
}

.main .posts {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: posts;
  width: 100%;
}

.main .posts a {
  text-decoration: none;
}

.main .posts .post {
  border: 5px ridge gray;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "thumb title" "thumb desc";
  -ms-grid-columns: 18rem auto;
      grid-template-columns: 18rem auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  background-color: rgba(16, 105, 156, 0.438);
}

.main .posts .post .thumb {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumb;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, black 0px, rgba(0, 0, 0, 0) 18rem);
          mask-image: linear-gradient(to right, black 0px, rgba(0, 0, 0, 0) 18rem);
}

.main .posts .post .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  padding: 20px;
}

.main .posts .post .desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc;
  padding: 20px;
  color: #b9b9b9;
}

.main .posts .post .desc h5 {
  font-size: 0.9rem;
}

.main .posts .post:hover {
  border: 5px groove gray;
  color: #2be1ee;
  background-color: rgba(33, 68, 85, 0.308);
}

.footer {
  width: 100%;
  padding: 10px;
  color: #929292;
  text-align: center;
}
/*# sourceMappingURL=blog.css.map */