@import "node_modules/bourbon/core/bourbon";

@mixin transform($values...) {
    @each $var in $values {
        @include prefixer(transform, #{$var}, ("webkit", "moz", "ms", "o"));
    }
}

@mixin transform-origin($values...) {
    @each $var in $values {
        @include prefixer(transform-origin, #{$var}, ("webkit", "moz", "ms", "o"));
    }
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");

@import "mix_vw_and_fluid_type";

@font-face {
    font-family: SofiaSans;
    font-style: normal;
    src: url(data/SofiaSans[wdth,wght].woff2) format("woff2");
}

@font-face {
    font-family: SofiaSans;
    font-style: italic;
    src: url(data/SofiaSansItalic[wdth,wght].woff2) format("woff2");
}

html * {
    font-family: "SofiaSans", "Noto Sans", sans-serif;
}

html body {
    background-color: white;
}

.background {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    z-index: -2;
}

.content {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto 100vh auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    justify-items: center;
    justify-content: center;
    align-content: space-around;
}

.main {
    grid-area: main;

    .title {
        margin-top: -10px;

        h1 {
            font-family: sans-serif;
        }
    }

    .articles {
        margin-top: 50px;

        .article_link {
            a {
                color: #222222;

                text-decoration: none;

                :hover {
                    text-decoration: underline;
                }
            }

            .date {
                font-size: 1.5em;
            }
        }
    }
}

.footer {
    grid-area: footer;

    width: 100%;
    padding: 10px;

    //@include position(absolute, null null 0 null);

    color: rgb(146, 146, 146);

    text-align: center;
}

$hills-size: 130px;

.header {
    grid-area: header;

    width: 100%;
    display: flex;

    .icon_container {
        flex: none;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-top: 15px;

        width: $hills-size;
        height: $hills-size;

        // We put the images side by side on one row and use negative margins to overlap them!
        display: flex;
        flex-flow: row nowrap;

        .hills {
            width: 100%;
            flex: none;
            clip-path: ellipse(calc($hills-size/2) calc($hills-size/2) at 50% 50%);
        }
    }
}