/*  Fluid typography 
    This is simply a mapping function: 
        size = min + (max - min) * (100vw - min_width) / (max_width - min_width)
*/
@mixin fluid-type($min-vw, $max-vw, $min-size, $max-size, $unit) {
    & {
        font-size: $min-size;

        @media only screen and (min-width: $min-vw) {
            font-size: calc(
                #{$min-size} + #{($max-size - $min-size) / $unit} * ((100vw - #{$min-vw}) / #{($max-vw - $min-vw) / $unit})
            );
        }
        @media only screen and (min-width: $max-vw) {
            font-size: $max-size;
        }
    }
}
