@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");

$header-height: 150px;
$hills-size: $header-height * 0.8;

.header {
    grid-area: header;

    width: 100%;

    font-family: "Noto Serif", serif;

    display: grid;
    grid-template-columns: 35vw $header-height 35vw;
    grid-template-rows: 15vh;
    grid-template-areas: "lbuttons icon rbuttons";

    justify-items: center;
    align-content: space-around;
    justify-content: center;

    background-color: rgba(5, 25, 56, 0.336);
    border-bottom: 4px dashed rgba(5, 25, 56, 0.863);

    .buttons_left {
        grid-area: lbuttons;
    }
    .buttons_right {
        grid-area: rbuttons;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        justify-items: stretch;
        align-content: center;
        text-align: center;

        width: 25vw;

        a {
            text-decoration: none;
        }

        h5 {
            all: revert;
        }

        h5.header__text {
            font-size: 15px;

            text-decoration: underline;
            color: #eca089;
        }

        h5.header__text:hover {
            cursor: pointer;

            color: #d16aeb;
            text-decoration: underline;
        }

        h5.active {
            text-decoration: initial;

            color: purple;
        }
    }

    .icon {
        grid-area: icon;

        .hills {
            left: calc(50% - #{$hills-size/2});
            width: $hills-size;

            clip-path: ellipse($hills-size/2 $hills-size/2 at 50% 50%);
        }

        $give-love-size: $hills-size * 0.85;

        .give_love {
            position: absolute;

            left: calc(50% - #{$give-love-size/2});
            width: $give-love-size;

            margin-top: 6px;
        }

        $a-portfolio-size: $hills-size * 1.7;

        .a_portfolio {
            position: absolute;

            left: calc(50% - #{$a-portfolio-size/2});
            width: $a-portfolio-size;
        }
    }
}