.parallax {
    position: relative;

    width: 100vw;
    height: 100vh;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    perspective: 1px;
    perspective-origin: 0%;
}

.parallax__layer {
    position: absolute;
    transform-origin: 0;
}

/* Due to some strange behaviour when scaling,
   (some margin was introduced), I used perspective-origin
   and transform-origin to force the images to the left and
   then I tweaked the numbers below to what I found looked best,
   despite it not being mathematically accurate.
*/

.parallax__sky {
    transform: translateZ(-1000px) scale(1040);
}

.parallax__clouds {
    transform: translateZ(-50px) scale(50);
}

.parallax__me {
    transform: translateZ(-1px) scale(1.5) translateY(-210px);
}

.parallax__static {
    transform: translateZ(0) scale(1);
}