@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Parallax effect */
.parallax {   
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-25px) scale(26);
    transform: translateZ(-25px) scale(26);
}

.parallax__layer--deepest {
    -webkit-transform: translateZ(-1000px) scale(1001);
    transform: translateZ(-1000px) scale(1001);
}

/* Cosmetic styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffee00;

    font-family: 'Roboto Slab', serif;
}

.bg {
    height: 130vh;
    position: relative;
    left: -10px;
}

.header {
    position: relative;
    top: 50px;

    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1em;
    color: #ffffff; 
    line-height: 1.3em;
}

.introduction {
    position: fixed;
    color: #ffffff;     
}

.introduction_line {
    position: absolute;
    left: -20px;
    top: 0.26em;

    width: 0.1em;
    height: 3.945em;
    background-color: #ffffff;
}

@media only screen and (max-width: 420px) {
    .header {
        top: 420px;

        text-align: center;
        font-size: 1.4em;
        letter-spacing: 0.3em;
    }

    .introduction {
        top: 1500px;
        left: 30px;

        font-size: 7.4vw;
        width: 100vw;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 450px;
    }

    .bg__me {
        height: 100vh;
    }
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
    .header {
        font-size: 1.9em;
    }

    .bg__me {
        height: 110vh;
    }
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
    .header {
        top: 410px;

        text-align: center;
        font-size: 1.7em;
        letter-spacing: 0.45em;
    }

    .introduction {
        top: 1500px;
        left: 30px;

        font-size: 7.4vw;
        width: 100vw;

        margin-left: auto;
        margin-right: auto;

        margin-bottom: 450px;
    }

    .bg__me {
        height: 120vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        right: 40px;
        top: 50px;

        text-align: right;
        font-size: 1em;
        letter-spacing: 0.5em;
    }

    .introduction {
        left: initial;
        right: 50px;
        top: 300px;

        font-size: 2.8em;

        width: initial;
        margin: 0;
    }

    .bg__me {
        height: 140vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        text-align: center;
    }

    .introduction {
        font-size: 4.4em;
        top: 200px;
        right: 80px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    .header {
        font-size: 1.7em;
    }
    
    .introduction {
        font-size: 5em;
        right: 300px;
    }
}


