
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

@import "fluid_type";

html,
body {
    font-family: "Roboto Slab", serif;
    @include fluid-type(400px, 1400px, 12px, 16px, 1px);

    overflow-x: hidden;
}

$mod_1: 1.067;
$mod_2: 1.333;

$h1-min: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
$h1-max: $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;

$h2-min: $mod_1 * $mod_1 * $mod_1 * 1rem;
$h2-max: $mod_2 * $mod_2 * $mod_2 * 1rem;

$h3-min: $mod_1 * $mod_1 * 1rem;
$h3-max: $mod_2 * $mod_2 * 1rem;

$h4-min: $mod_1 * 1rem;
$h4-max: $mod_2 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: (1rem / $mod_1);
$h6-max: (1rem / $mod_2);

h1 {
    @include fluid-type(37.5rem, 80rem, $h1-min, $h1-max, 1rem);
}

h2 {
    @include fluid-type(37.5rem, 80rem, $h2-min, $h2-max, 1rem);
}

h3 {
    @include fluid-type(37.5rem, 80rem, $h3-min, $h3-max, 1rem);
}

h4 {
    @include fluid-type(37.5rem, 80rem, $h4-min, $h4-max, 1rem);
}

h5 {
    @include fluid-type(37.5rem, 80rem, $h5-min, $h5-max, 1rem);
}

h6 {
    @include fluid-type(37.5rem, 80rem, $h6-min, $h6-max, 1rem);
}

/* Paragraphs by default have the same font size as h4 */
p {
    @include fluid-type(37.5rem, 80rem, $h4-min, $h4-max, 1rem);
}
