@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Parallax effect */
.parallax {   
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-perspective: 1px;
    perspective: 1px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-25px) scale(26);
    transform: translateZ(-25px) scale(26);
}

.parallax__layer--deepest {
    -webkit-transform: translateZ(-1000px) scale(1001);
    transform: translateZ(-1000px) scale(1001);
}

/* Cosmetic styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff67a;

    font-family: 'Roboto Slab', serif;
}

.bg {
    height: 130vh;
    position: relative;
    left: -10px;
}

.header {
    position: relative;
    top: 50px;

    text-align: center;
    width: 100vw;
    height: 100vh;

    /*letter-spacing: 0.5em;*/
    font-size: 1em;
    color: #ffffff; 
    line-height: 1.3em;
}

.introduction {
    position: fixed;
    color: #ffffff;

    display: flex;  

    top: 190px;
    width: 100vw;
}

.introduction__content {
    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 4em; 
}


.retro_button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    cursor: pointer;
}

.retro_button__border__psycho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.retro_button__border__psycho div {
    position: absolute;

    width: 241px;
    height: 241px;

    border-radius: 100%;
}

.retro_button__border__psycho__circle1 { 
    box-shadow: 0 1px 0 0 rgba(255, 192, 0, 0.25), 0 -1px 0 0 rgba(255, 64, 0, 0.25), 1px 0 0 0 rgba(255, 192, 0, 0.25), -1px 0 0 0 rgba(255, 64, 0, 0.25), 1px -1px 0 0 rgba(255, 128, 0, 0.5), -1px 1px 0 0 rgba(255, 128, 0, 0.5), 1px 1px 0 0 rgba(255, 255, 0, 0.75), -1px -1px 0 0 rgba(255, 0, 0, 0.75);
    animation: psycho_circle 4s linear infinite; 
}

.retro_button__border__psycho__circle2 {
    box-shadow: 0 1px 0 0 rgba(225, 131, 194, 0.25), 0 -1px 0 0 rgba(165, 181, 222, 0.25), 1px 0 0 0 rgba(225, 131, 194, 0.25), -1px 0 0 0 rgba(165, 181, 222, 0.25), 1px -1px 0 0 rgba(195, 156, 208, 0.5), -1px 1px 0 0 rgba(195, 156, 208, 0.5), 1px 1px 0 0 rgba(255, 105, 180, 0.75), -1px -1px 0 0 rgba(135, 206, 235, 0.75);
    animation: psycho_circle 4s linear .3s infinite; 
}

.retro_button__border__psycho__circle3 {
    box-shadow: 0 1px 0 0 rgba(192, 63, 153, 0.25), 0 -1px 0 0 rgba(214, 69, 99, 0.25), 1px 0 0 0 rgba(192, 63, 153, 0.25), -1px 0 0 0 rgba(214, 69, 99, 0.25), 1px -1px 0 0 rgba(203, 66, 126, 0.5), -1px 1px 0 0 rgba(203, 66, 126, 0.5), 1px 1px 0 0 rgba(181, 59, 180, 0.75), -1px -1px 0 0 rgba(225, 72, 71, 0.75);
    animation: psycho_circle 4s linear .5s infinite; 
}

@keyframes psycho_circle {
    0% { transform: rotate(0deg) scale(1) translate(0, 0); }
    33% { transform: rotate(360deg) scale(1) translate(5px, 5px); }
    66% { transform: rotate(720deg) scale(1) translate(-5px, -5px); }
    100% { transform: rotate(1080deg) scale(1) translate(0, 0); }
}

.retro_button img {
    position: absolute;

    width: 90%;
    clip-path: ellipse(120px 120px at 50% 50%);
}

.social_media {
    position: absolute;
    bottom: -350px;

    width: 80%;
    height: 200px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.social_media span {
    display: inline-block;
}

.social_media__instagram, .social_media__linkedin {
    cursor: pointer;
}
.social_media__instagram img, .social_media__linkedin img {
width: 3em;
}

.social_media__instagram {
    margin-left: 10px;
    margin-right: 5px;
}

.social_media__linkedin {
    margin-left: 5px;
    margin-right: 10px;
}

.social_media__border {
    border-top: 0.25em dotted white;
    width: 50vw;
    height: 10px;
}

.footer {
    position: absolute;
    bottom: -665px;

    color: #ffffff; 
}

.footer__sideways {
    writing-mode: vertical-rl;
    float: left;
    font-size: 0.5em;
    letter-spacing: 0.117em;
    position: relative;
    top: 6px;
    right: -5px;
}

.footer__bigtext {
    font-size: 10em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 9em;
    line-height: 0.85em;
    cursor: default;
}

.footer__bigtext span:nth-child(2) {
    position: relative;
    left: 0.55em;
}

.footer__credit {
    font-family: 'Roboto Slab', serif;
    font-size: 0.12em;
    margin-top: -1.5em;
    position: relative;
}

.footer__credit a {
    color: #17e3f1;
    cursor: pointer;
}

@media only screen and (max-width: 420px) {
    .header {
        top: 420px;

        text-align: center;
        font-size: 1.4em;
        letter-spacing: 0.3em;
    }

    .bg__me {
        height: 100vh;
    }
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
    .header {
        font-size: 1.9em;
    }

    .bg__me {
        height: 110vh;
    }
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
    .header {
        top: 410px;

        text-align: center;
        font-size: 1.7em;
        letter-spacing: 0.45em;
    }

    .social_media, .footer { font-size: 0.3em; }

    .bg__me {
        height: 120vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .social_media, .footer { font-size: 0.5em; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        right: 40px;
        top: 50px;

        text-align: right;
        font-size: 1em;
        letter-spacing: 0.5em;
    }

    .bg__me {
        height: 140vh;
    }
}

@media only screen and (min-width: 1060px) {
    .introduction { font-size: 0.55em; }
    .social_media, .footer { font-size: 0.6em; }
}

@media only screen and (min-width: 1100px) {
    .introduction { font-size: 0.6em; }
    .social_media, .footer { font-size: 0.7em; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        text-align: center;
        right: 0px;
    }

    .introduction { 
        position: fixed;
        right: initial;

        width: 50%;
        margin-left: 50vw;
        text-align: left;
        font-size: 0.75em; 

        /* Vertical line */
        border-left: 0.4em dashed #ffffff;
        padding-left: 0.7em;  
    }

    .social_media, .footer { font-size: 0.8em; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    .introduction { font-size: 0.9em; }
    .social_media, .footer { font-size: 0.9em; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .introduction { font-size: 1em; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    .header {
        font-size: 1.7em;
    }
    
    .introduction { font-size: 1.22em; }
}
