@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Parallax effect */
.parallax {   
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-perspective: 1px;
    perspective: 1px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-25px) scale(26);
    transform: translateZ(-25px) scale(26);
}

.parallax__layer--deepest {
    -webkit-transform: translateZ(-1000px) scale(1001);
    transform: translateZ(-1000px) scale(1001);
}

/* Cosmetic styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffee00;

    font-family: 'Roboto Slab', serif;
}

.bg {
    height: 130vh;
    position: relative;
    left: -10px;
}

.header {
    position: relative;
    top: 50px;

    text-align: center;
    width: 100vw;
    height: 100vh;

    /*letter-spacing: 0.5em;*/
    font-size: 1em;
    color: #ffffff; 
    line-height: 1.3em;
}

.introduction {
    position: fixed;
    color: #ffffff;

    display: flex;  

    top: 190px;
    width: 100vw;
}

.introduction__content {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 50%;
    margin-left: 50%;

    font-size: 4em;
}

.introduction_line {
    position: relative;
    left: -10px;

    width: 0.1em;
    height: 3.4em;
    background-color: #ffffff;
}

@media only screen and (max-width: 420px) {
    .header {
        top: 420px;

        text-align: center;
        font-size: 1.4em;
        letter-spacing: 0.3em;
    }

    .bg__me {
        height: 100vh;
    }
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (min-width: 420px) {
    .header {
        font-size: 1.9em;
    }

    .bg__me {
        height: 110vh;
    }
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
    .header {
        top: 410px;

        text-align: center;
        font-size: 1.7em;
        letter-spacing: 0.45em;
    }

    .bg__me {
        height: 120vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        right: 40px;
        top: 50px;

        text-align: right;
        font-size: 1em;
        letter-spacing: 0.5em;
    }

    .bg__me {
        height: 140vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        text-align: center;
        right: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    .header {
        font-size: 1.7em;
    }
}


.hand_gif {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
}

.hand_gif__border__gradient {
    width: 240px;
    height: 240px;

    border-radius: 50%;

    background: radial-gradient(#fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%);
    background-size: 200% auto;
    
    animation: shine 2s linear infinite;

    clip-path: ellipse(110px 110px at 50% 50%);
}

.hand_gif__border__gradient:hover {
    clip-path: ellipse(115px 115px at 50% 50%);
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
}

.hand_gif__border {
    position: absolute;

    width: 207px;
    height: 207px;

    background-color: #ffffff;
    border-radius: 50%;
}

.hand_gif img {
    position: absolute;

    width: 90%;
    clip-path: ellipse(100px 100px at 50% 50%);
}

.retro {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.retrowave_bg {
    height: 120vh;
}

.retrowave_bg img {
    height: 100vh;
    object-fit: contain;
}

.retrowave_bg__dim {
    position: absolute;
    top: 0;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}