@charset 'utf-8';

@use "sass:list";

@import "../vendor/_vendor-dir";
@import "../base/_base-dir";
@import "../abstracts/_abstracts-dir";
@import "../components/annotations";
@import "../components/directory";
@import "../layouts/header";
@import "../layouts/footer";

html body {
    background-color: white;
}

// In proportion to header; TODO: Unify this across site!
$text-size: calc(3rem / 1.067 / 1.067);

$retro-colors: (
    #77774F,
    #DEEFB7,
    #98DFAF,
    #414288,
    #682D63
);

$text-colors: (
    white,
    black,
    black,
    white,
    white
);

main,
footer {
    font-family: "FiraGo", sans-serif;
}

main {
    display: flex;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }

    position: relative;
}

.section-header {
    font-family: "Vollkorn";
    font-size: $text-size;
    color: $theme-color;
}

.about-me {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 3rem;

    .logo {
        font-family: "Vollkorn";
        align-self: center;
    }

    hr {
        width: 100%;

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__link {
        max-width: 80vw;
        margin-left: 3.5rem;
    }

    @include md {
        &__link {
            margin-left: 0;
        }
    }

    p {
        max-width: 80vw;
        width: 100%;
        margin-inline: auto;
    }

    &__hs-signature, &__english-signature {
        width: 20rem;
        align-self: center;
    }

    @include md {
        max-width: 33.33333vw;

        margin-top: 6rem;

        img {
            width: initial;
        }
    }

    @include lg {
        max-width: 25vw;
    }

    padding-inline: 1rem;

    @include md {
        padding-inline: 2rem;
    }

    pre {
        font-family: "FiraCode", monospace;
    }

    pre>span {
        font-family: "FiraGo", sans-serif;
    }

    &__description {
        display: none;
        @include md {
            display: inherit;
        }

        &__show-more, &__show-less {
            text-decoration-line: underline;
            text-decoration-thickness: 0.1rem;

            @include md {
                display: none;
            }
        }

        &__show-less {
            display: none;
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-inline: 2rem;
        margin-bottom: 2rem;

        @include md {
            flex-direction: column;

            margin-inline: 0;

            h3 {
                margin-bottom: 1.5rem;
            }
        }
    }
}


.projects {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    .section-header {
        align-self: flex-start;
        padding-inline: 1rem;
        margin-top: 6rem;
    }


    @include md {
        margin-top: 0;

        .section-header {
            align-self: center;
            padding-inline: 0;
        }
    }
}

.projects__windows {
    width: 100%;

    &__sizer,
    &__window {
        width: 100%;

        @include md {
            max-width: 50%;
        }

        @include lg {
            max-width: 33.33333%;
        }

        height: fit-content;

        display: grid;

        &:hover {
            cursor: pointer;
        }

        img, video {
            width: 100%;
            z-index: -2;
        }

        img, video,
        &__photo-info {
            grid-row: 1;
            grid-column: 1;
        }

        &__photo-info {
            align-self: flex-end;

            padding-inline: 0.4rem;
            padding-bottom: 0.2rem;

            color: rgb(192, 192, 192);

            text-align: right;
            font-family: "FiraCode", monospace;
            font-size: 0.8em;
            text-shadow: 1px 1px 1px rgb(54, 54, 54);

            opacity: 0.5;
        }

        &__overlay {
            grid-row: 1;
            grid-column: 1;
            background-color: black;
            opacity: 0;

            z-index: -1;
        }
    }

    &__stamp {
        position: absolute;

        height: 0;
        // border: 1px solid red;

        @include md {
            width: 20px;
            height: 20px;
        }

        &:nth-of-type(2) {
            right: 0;

            @include md {
                height: 40px;
            }
        }
    }
}