@charset 'utf-8';

@use "sass:list";

@import "../vendor/_vendor-dir";
@import "../base/_base-dir";
@import "../abstracts/_abstracts-dir";
@import "../components/annotations";
@import "../components/directory";
@import "../layouts/header";
@import "../layouts/footer";

html body {
    background-color: white;
}

// In proportion to header; TODO: Unify this across site!
$text-size: calc(3rem / 1.067 / 1.067);

$retro-colors: (
    #77774F,
    #DEEFB7,
    #98DFAF,
    #414288,
    #682D63
);

$text-colors: (
    white,
    black,
    black,
    white,
    white
);

main,
footer {
    font-family: "FiraGo", sans-serif;
}

main {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;

    @include md {
        flex-direction: row;

        margin-top: 6rem;
    }

    position: relative;
}

.section-header {
    font-family: "Vollkorn";
    font-size: $text-size;
    color: $theme-color;
}

.about-me {
    width: 100%;

    @include md {
        max-width: 33.33333vw;
    }

    @include lg {
        max-width: 25vw;
    }

    padding-inline: 1rem;

    @include md {
        padding-inline: 2rem;
    }

    pre {
        font-family: monospace;
    }

    pre>span {
        font-family: "FiraGo", sans-serif;
    }
}


.projects {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 3rem;

    .section-header {
        align-self: flex-start;
        padding-inline: 1rem;
    }

    @include md {
        margin-top: 0;

        .section-header {
            align-self: center;
            padding-inline: 0;
        }
    }
}

.projects__windows {
    position: relative;
    width: 100%;

    margin-top: 2rem;

    &__sizer,
    &__window {
        width: 100%;

        @include md {
            width: 50%;
        }

        @include lg {
            width: 33.33333%;
        }

        height: fit-content;

        &:hover {
            opacity: 0.8;
        }

        img {
            width: 100%;
        }
    }

    &__stamp {
        position: absolute;

        // border: 1px solid red;

        @include md {
            width: 20px;
            height: 20px;
        }

        &:nth-of-type(2) {
            right: 0;

            @include md {
                height: 40px;
            }
        }
    }

    &__window {
        @for $i from 1 through length($retro-colors) {
            $c: nth($retro-colors, $i);
            $tc: nth($text-colors, $i);
            $j: $i - 1;

            &:nth-of-type(5n + #{$j}) {
                color: $tc;
                background-color: $c;
            }
        }

    }
}