@charset 'utf-8';

@use "sass:list";

@import "../vendor/_vendor-dir";
@import "../base/_base-dir";
@import "../abstracts/_abstracts-dir";
@import "../components/annotations";
@import "../components/directory";
@import "../layouts/header";
@import "../layouts/about-me";
@import "../layouts/content";
@import "../layouts/footer";

html body {
    background-color: white;
}

main,
footer {
    font-family: "FiraGo", sans-serif;
}

main {
    display: flex;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }

    position: relative;
}

.about-me {
    &__hs-signature,
    &__english-signature {
        width: 20rem;
        align-self: center;
    }
}
