@charset 'utf-8';

@import "../vendor/_vendor-dir";

@import "../base/_base-dir";
@import "../abstracts/_abstracts-dir";

@import "../components/annotations";
@import "../components/directory";
@import "../components/article-content-common";

@import "../layouts/header";
@import "../layouts/messages";
@import "../layouts/footer";

html body {
    background-color: white;

    display: flex;
    flex-direction: column;

    padding: 0;
}

main,
footer {
    align-self: center;

    font-family: "FiraGo", sans-serif;

    width: 90vw;
    max-width: 700px;

    margin-top: 2rem;
    @include md {
        margin-top: 5rem;
    }
}

.article-links {
    min-height: 60vh;
    margin-top: 3rem;

    padding-left: 1.5rem;

    @include md {
        padding-left: 0;
    }

    &__link {
        display: flex;
        flex-direction: column;

        font-family: "SofiaSans";

        margin-bottom: 1rem;

        // Titles and tags div
        &>div {
            a {
                text-decoration-color: white;
            }

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__tags {
            display: flex;

            div+div {
                margin-left: 8px;
            }

            div {
                background-color: $theme-color;
                border-radius: 4px;

                height: fit-content;
                width: fit-content;
                padding: 0.1rem 0.1rem;

                span {
                    color: white;
                    margin: 6px;

                    font-size: 0.9rem;
                }

                a {
                    color: white;
                }
            }
        }

        &__title {
            margin-top: 0.2rem;
            margin-bottom: 0.4rem;

            font-size: 1.1rem;
            line-height: 1rem;

            margin-right: 8px;

            a {
                color: $header-color;

                text-decoration: none;

                :hover {
                    text-decoration: underline;
                }
            }

            // Arrow
            span {
                display: block;
                position: absolute;

                color: $theme-color;

                margin-top: 0.1rem;
                margin-left: -2rem;

                font-family: 5rem;
                font-weight: 700;
            }
        }

        // Date
        &>span {
            margin-top: -0.5rem;
        }
    }
}



.article {
    .divider {
        border-top: 1px solid #222222;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .header {
        display: flex;
        flex-direction: column;

        font-family: "SofiaSans";

        .title_and_author {
            margin-top: 2rem;

            display: flex;
            flex-direction: column;

            .title h2 {
                font-size: 2rem;
                line-height: 2rem;
                color: #222222;
            }
        }

        .dates {
            display: flex;
            align-items: baseline;

            margin-left: 0.05rem;

            .edit_date {
                p {
                    font-size: 0.91rem;
                }

                margin-left: 8px;

                color: gray;
            }
        }

        .disclaimer {
            margin-top: 2rem;

            font-size: 0.8rem;

            color: #232323;
        }
    }

    .content-jupyter {
        @include article-content-common();

        margin-left: -2rem;
        @include md {
            margin-left: -5.1rem;
        }

        pre {
            overflow-x: auto;
        }

        .highlight > pre {
            font-size: 0.9em;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include article-content-common();

        code {
            font-family: "FiraCode";
            font-size: 0.9rem;

            background-color: #dbdbdb;
            padding: 4px;
        }

        pre {
            font-size: 0.8rem;
            background-color: white;

            color: #232323;

            max-width: 100%;
        }
    }
}