@import "../abstracts/breakpoints";
@import "../abstracts/variables";

$link-color: $theme-color; // including annotations

a {
    color: inherit;
    text-decoration-color: $link-color;
    text-decoration-thickness: 0.1rem;

    &:hover {
        color: $link-color;
    }
}
