
.content {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    @include md {
        margin-top: 0;
    }

    .content__block {
        width: 100%;
        max-width: 33.33333%;

        @include md {
            max-width: 50%;
        }

        @include lg {
            max-width: 33.33333%;
        }

        display: grid;

        img,
        video {
            width: 100%;
            z-index: -2;
        }

        img,
        video,
        .photo-info {
            grid-row: 1;
            grid-column: 1;
        }

        .photo-info {
            align-self: flex-end;

            padding-inline: 0.4rem;
            padding-bottom: 0.2rem;

            color: rgb(192, 192, 192);

            text-align: right;
            font-family: "FiraCode", monospace;
            font-size: 0.8em;
            text-shadow: 1px 1px 1px rgb(54, 54, 54);

            opacity: 0.5;
        }

        .overlay {
            grid-row: 1;
            grid-column: 1;
            background-color: black;
            opacity: 0;

            z-index: -1;
        }
    }
}