@-webkit-keyframes psycho_circle {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(3px, 3px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-3px, -3px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
@keyframes psycho_circle {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(3px, 3px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-3px, -3px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
html body {
  background-color: #fddd19;
}

/*
.background {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    background-image: url("../resources/about/retrowave_bg.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -2;
}

.gradient {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 20) 95%, rgba(0, 0, 0, 255) 100%);

    z-index: -1;
}
*/
.header {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 15rem;
  background-color: rgba(60, 0, 255, 0.109);
  padding: 4rem;
  /*
  .text_back,
  .text_forward {
      color: white;
      font-size: 2rem;

      width: 8rem;
      text-align: center;
  }*/
}
.header .button_text {
  position: absolute;
  top: 1.1rem;
  width: 12rem;
  z-index: 2;
  pointer-events: none;
}
.header .sky_button,
.header .hand_button {
  height: 8rem;
  align-self: flex-start;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.header .sky_button .border,
.header .hand_button .border {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .sky_button .border a,
.header .hand_button .border a {
  position: absolute;
  width: 8rem;
  height: 8rem;
  -webkit-clip-path: ellipse(4rem 4rem at 50% 50%);
          clip-path: ellipse(4rem 4rem at 50% 50%);
}
.header .sky_button .border a img,
.header .hand_button .border a img {
  width: 8rem;
  height: 8rem;
}
.header .sky_button .border .circle,
.header .hand_button .border .circle {
  position: absolute;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}
.header .sky_button .border .circle:nth-of-type(1),
.header .hand_button .border .circle:nth-of-type(1) {
  box-shadow: 0 0.15em 0 0 rgba(28, 72, 249, 0.25), -0.15em 0 0 rgba(50, 132, 237, 0.25), 0.15em 0 0 0 rgba(28, 72, 249, 0.25), -0.15em 0 0 0 rgba(50, 132, 237, 0.25), 0em 0 0 rgba(39, 102, 243, 0.5), -0.15em 0.15em 0 0 rgba(39, 102, 243, 0.5), 0.15em 0.15em 0 0 rgba(17, 41, 255, 0.75), -0.3em 0 0 rgba(61, 162, 230, 0.75);
}
.header .sky_button .border .circle:nth-of-type(2),
.header .hand_button .border .circle:nth-of-type(2) {
  box-shadow: 0 0.1em 0 0 rgba(64, 0, 192, 0.25), -0.1em 0 0 rgba(192, 0, 64, 0.25), 0.1em 0 0 0 rgba(64, 0, 192, 0.25), -0.1em 0 0 0 rgba(192, 0, 64, 0.25), 0em 0 0 rgba(128, 0, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 0, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 0, 255, 0.75), -0.2em 0 0 rgba(255, 0, 0, 0.75);
  -webkit-animation: psycho_circle 3s linear infinite;
          animation: psycho_circle 3s linear infinite;
}
.header .sky_button .border .circle:nth-of-type(3),
.header .hand_button .border .circle:nth-of-type(3) {
  box-shadow: 0 0.1em 0 0 rgba(64, 255, 192, 0.25), -0.1em 0 0 rgba(192, 255, 64, 0.25), 0.1em 0 0 0 rgba(64, 255, 192, 0.25), -0.1em 0 0 0 rgba(192, 255, 64, 0.25), 0em 0 0 rgba(128, 255, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 255, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 255, 255, 0.75), -0.2em 0 0 rgba(255, 255, 0, 0.75);
  -webkit-animation: psycho_circle 3s linear 0.1s infinite;
          animation: psycho_circle 3s linear 0.1s infinite;
}
.header .sky_button .border .circle:nth-of-type(4),
.header .hand_button .border .circle:nth-of-type(4) {
  box-shadow: 0 0.1em 0 0 rgba(64, 192, 64, 0.25), -0.1em 0 0 rgba(192, 64, 192, 0.25), 0.1em 0 0 0 rgba(64, 192, 64, 0.25), -0.1em 0 0 0 rgba(192, 64, 192, 0.25), 0em 0 0 rgba(128, 128, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 128, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 255, 0, 0.75), -0.2em 0 0 rgba(255, 0, 255, 0.75);
  -webkit-animation: psycho_circle 3s linear 0.2s infinite;
          animation: psycho_circle 3s linear 0.2s infinite;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.content .disclaimer {
  font-size: 5rem;
  color: rgb(0, 0, 0);
}
.content .disclaimer_rest {
  font-size: 8rem;
  font-family: sans-serif;
  line-height: 6rem;
  width: 100vw;
  color: rgba(0, 0, 0, 0.176);
  height: 32rem;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/
.title-bar-text,
.window-body {
  font-family: "Vollkorn";
}

.title-bar {
  height: 1.7rem;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  margin-top: 30px;
}
.main .cmd {
  margin-top: 2rem;
  font-size: 0.8rem;
}
.main .windows {
  content: "default";
  width: 95%;
  margin-top: 5rem;
  font-size: 0.8rem;
}
.main .windows .window_container {
  margin-bottom: 10px;
}
@media only screen and (max-width: 410px) {
  .main .windows .window_container .window {
    width: 200px;
  }
}
@media only screen and (min-width: 411px) {
  .main .windows .window_container .window {
    width: 280px;
  }
}
.main .windows .window_container .tiktok {
  width: 355px;
  height: 805px;
}
.main .windows .window_container .tiktok blockquote {
  border-radius: 13px;
}
.main .windows .window_container .playlist iframe {
  margin-top: 7px;
}
.main .windows .window_container .me_img,
.main .windows .window_container .context_img {
  display: flex;
  justify-content: center;
}
.main .windows .window_container .me_img img,
.main .windows .window_container .context_img img {
  width: 95%;
}
.main .windows .window_container .github,
.main .windows .window_container .projects {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.main .windows .window_container .github .icon,
.main .windows .window_container .projects .icon {
  display: flex;
  align-items: center;
  width: 25px;
  margin-right: 8px;
}
.main .windows .window_container .github .icon img,
.main .windows .window_container .projects .icon img {
  width: 25px;
}
.main .windows .window_container .spotify {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.main .windows .window_container .spotify .icon {
  display: flex;
  align-items: center;
  width: 1rem;
  margin-right: 8px;
}
.main .windows .window_container .spotify .icon img {
  width: 1rem;
}

.footer {
  margin-top: 20px;
  width: 100%;
  color: rgb(146, 146, 146);
  text-align: center;
}/*# sourceMappingURL=about.css.map */