
html body {
    background-color: white;
}

$theme-color: #b5ffff;
$theme-color-darker: #22c6c6;


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__links {
    display: flex;
    justify-content: space-around;

    margin-top: 1rem;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 601px) {
        flex-direction: row;
    }

    width: 100%;

    .divider {
        @media only screen and (max-width: 600px) {
            width: 0;
        }
    
        @media only screen and (min-width: 601px) {
            width: 100%;
        }
    }
}

.header__link {
    width: 100%;

    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 600px) {
        justify-content: center;
    }

    font-size: 3rem;

    padding-inline: 1rem;

    color: $theme-color-darker;

    a {
        margin-inline: 1rem;

        color: $theme-color-darker;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header__img {
    display: flex;
    position: relative;
}

.header__hills {
    width: 10rem;
    margin-top: 1rem;
    border-radius: 100%;
}

.header__title {
    display: block;
    position: absolute;

    font-size: 3rem;
    color: white;
}

.header__title:first-of-type {
    bottom: 0.5rem;
    left: -3rem;

    span {
        color: $theme-color;
    }
}

.header__title:last-of-type {
    color: $theme-color;

    bottom: -1rem;
    left: 0.2rem;
}

.main {
    margin-top: 2rem;

    padding: 2rem;

    font-size: 5rem;
    line-height: 5rem;

    color: rgba(0, 0, 0, 0.31);
}