@import "transform";
@import "position";
@import "psycho_circle";

html body {
    background-color: black;
}

.background {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    background-image: url("../resources/about/retrowave_bg.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -2;
}

.gradient {
    @include position(absolute, 0 0 null null);

    width: 100vw;
    height: calc(100vh + 100px);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 20) 95%, rgba(0, 0, 0, 255) 100%);

    z-index: -1;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;

    margin-top: 1rem;

    justify-content: space-around;
    align-items: center;

    border-top: dotted 10px white;
    border-bottom: dotted 10px white;
    width: 100vw;
    height: 15rem;

    background-color: rgba(60, 0, 255, 0.109);
    
    padding: 4rem;

    /*
    .text_back,
    .text_forward {
        color: white;
        font-size: 2rem;

        width: 8rem;
        text-align: center;
    }*/

    .button_text {
        position: absolute;
        top: 1.1rem;

        width: 12rem;

        z-index: 2;

        pointer-events: none;
    }

    .sky_button,
    .hand_button {
        @include psycho-circle-button(8rem);
    }
}

.content {
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* For debugging.
body * {
    border: 1px solid yellow;
}
*/

.title-bar-text,
.window-body {
    font-family: "Vollkorn";
}

.title-bar {
    height: 1.7rem;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 95vw;

    margin-top: 30px;

    .cmd {
        margin-top: 2rem;
        
        font-size: 0.8rem;
    }

    .windows {
        content: 'default';

        width: 95%;

        margin-top: 5rem;

        font-size: 0.8rem;

        .window_container {
            margin-bottom: 10px;

            .window {
                @media only screen and (max-width: 410px) {
                    & {
                        width: 200px;
                    }
                }

                @media only screen and (min-width: 411px) {
                    & {
                        width: 280px;
                    }
                }
            }

            .tiktok {
                width: 355px;
                height: 805px;

                blockquote {
                    border-radius: 13px;
                }
            }

            .playlist {
                iframe {
                    margin-top: 7px;
                }
            }

            .me_img,
            .context_img {
                display: flex;
                justify-content: center;

                img {
                    width: 95%;
                }
            }

            .github,
            .projects {
                display: flex;
                align-items: center;

                margin-top: 5px;

                .icon {
                    display: flex;
                    align-items: center;

                    width: 25px;
                    margin-right: 8px;

                    img {
                        width: 25px;
                    }
                }
            }

            .spotify {
                display: flex;
                align-items: center;

                margin-left: 3px;

                .icon {
                    display: flex;
                    align-items: center;

                    width: 1rem;
                    margin-right: 8px;

                    img {
                        width: 1rem;
                    }
                }
            }
        }
    }
}

.footer {
    margin-top: 20px;

    width: 100%;

    //@include position(absolute, null null 0 null);

    color: rgb(146, 146, 146);

    text-align: center;
}