@import "position";

@font-face {
    font-family: SofiaSans;
    font-style: normal;
    src: url(../resources/fonts/SofiaSans[wdth\,wght].woff2) format("woff2");
}

@font-face {
    font-family: SofiaSans;
    font-style: italic;
    src: url(../resources/fonts/SofiaSans-Italic[wdth\,wght].woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: normal;
    src: url(../resources/fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.woff) format("woff");
}

@font-face {
    font-family: FiraGO;
    font-style: italic;
    src: url(../resources/fonts/FiraGO_WEB_1001/Italic/FiraGO-Italic.woff) format("woff");
}

@font-face {
    font-family: FiraCode;
    font-style: italic;
    src: url(../resources/fonts/FiraCode-VF.woff) format("woff");
}

:root {
    font-family: "FiraGO", sans-serif;
}

html body {
    background-color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.back_to {
    margin: 20px;

    a {
        color: #222222;

        &:hover {
            color: #9c9c9c;

            text-decoration: underline;
        }
    }
}

.main {
    width: 90vw;
    max-width: 700px;

    .title {
        h1 {
            font-family: sans-serif;
            font-size: 6rem;

            line-height: 0.9;

            text-align: center;

            color: #222222;
        }

        a {
            color: #222222;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-color: #222222;
            }
        }
    }

    .desc {
        margin-top: 2rem;
    }

    .article_links {
        min-height: 60vh;
        margin-top: 50px;

        .article_link {
            display: flex;
            flex-direction: column;

            font-family: "SofiaSans";

            margin-bottom: 1rem;

            .title_and_tags {
                display: flex;
                align-items: center;

                @media only screen and (max-width: 850px) {
                    align-items: flex-start;
                    flex-direction: column;
                }

                @media only screen and (min-width: 851px) {
                    flex-direction: row;
                }

                .title {
                    font-size: 1.1rem;

                    margin-right: 8px;

                    a {
                        color: #222222;

                        text-decoration: none;

                        :hover {
                            text-decoration: underline;
                        }
                    }
                }

                .tags {
                    display: flex;

                    .tag+.tag {
                        margin-left: 8px;
                    }

                    .tag {
                        background-color: cornflowerblue;
                        border-radius: 4px;

                        height: fit-content;
                        width: fit-content;
                        padding: 0.3rem 0.3rem;

                        span {
                            color: white;
                            margin: 6px;

                            font-size: 0.9rem;
                        }

                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

$theme-color: #2edeb2;

a {
    color: black;
    text-decoration-color: $theme-color;
    text-decoration-thickness: 0.1rem;

    &:hover {
        color: $theme-color;
    }
}

.main {
    .article {
        .divider {
            border-top: 1px solid #222222;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        .header {
            display: flex;
            flex-direction: column;

            font-family: "SofiaSans";

            .directory {
                margin-top: 4rem;

                font-size: 1rem;

                color: #636363;

                a {
                    text-decoration: none;
                }

                .separator {
                    color: $theme-color;
                    margin-inline: 0.3rem;
                    text-decoration: none;
                }
            }

            .title_and_author {
                margin-top: 2rem;

                display: flex;
                flex-direction: column;

                .title {
                    font-size: 2rem;
                    line-height: 2rem;
                    color: #222222;
                }
            }

            .dates {
                display: flex;
                align-items: baseline;

                margin-left: 0.05rem;

                .edit_date {
                    p {
                        font-size: 0.91rem;
                    }

                    margin-left: 8px;

                    color: gray;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .index {
                width: 100%;

                ul {
                    list-style-type: none;
                }

                li::before {
                    content: '\27F6';
                    margin-right: 0.2rem;

                    @media only screen and (max-width: 850px) {
                        margin-left: -2rem;
                    }
    
                    @media only screen and (min-width: 851px) {
                        margin-left: 0;
                    }
                }

                a {
                    text-decoration: none;
                }
            }

            p {
                width: 100%;

                &.centered {
                    text-align: center;
                }

                margin-top: 1rem;
            }

            h4 {
                margin-top: 3rem;

                a {
                    color: $theme-color;

                    font-size: 0.8rem;
                    text-decoration: none;
                }
            }

            code {
                font-family: "FiraCode";
                font-size: 0.9rem;

                background-color: #dbdbdb;
                padding: 4px;
            }

            pre {
                font-size: 0.8rem;
                background-color: white;

                color: #232323;

                max-width: 100%;
            }

            .note {
                color: gray;

                margin-top: 1rem;

                display: block;
                margin-left: auto;
                margin-right: auto;

                font-size: 0.9rem;

                text-align: center;
            }

            .message_section {
                display: flex;
                flex-direction: column;

                width: 100%;

                margin: 20px;

                .message_bebka_div,
                .message_soti_div {
                    display: flex;
                }

                .message_soti_div {
                    justify-content: flex-end;
                }

                .message_bebka_container,
                .message_soti_container {
                    width: 80%;
                    max-width: 40rem;
                }

                .message_bebka_container {
                    display: flex;
                    flex-direction: column;

                    :first-child {
                        border-radius: 1rem 0.5rem 0.2rem 0.5rem;
                    }

                    :last-child {
                        border-radius: 0.5rem 0.2rem 0.5rem 1rem;
                    }
                }

                .message_bebka,
                .message_soti {
                    height: fit-content;
                    width: fit-content;
                    padding: 0.5rem 1rem;
                    margin: 0.12rem 0.5rem;
                }

                .message_bebka {
                    border: solid 1px #e1e1e1;
                    border-radius: 0.5rem;
                }

                .message_soti_container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    :first-child {
                        border-radius: 0.5rem 1rem 0.2rem 0.5rem;
                    }

                    :last-child {
                        border-radius: 0.5rem 0.2rem 1rem 0.5rem;
                    }
                }

                .message_soti {
                    background: linear-gradient(180deg,
                            rgba(139, 47, 184, 1) 0%,
                            rgba(103, 88, 205, 1) 51%,
                            rgba(89, 116, 219, 1) 92%) no-repeat center;
                    background-attachment: fixed;

                    border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;

                    color: #fff;
                }
            }
        }
    }
}

.footer {
    margin-top: 5rem;

    width: 100%;
    padding: 10px;

    //@include position(absolute, null null 0 null);

    color: rgb(146, 146, 146);

    text-align: center;
}

$hills-size: 160px;

.header {
    width: 100%;
    display: flex;

    .icon_container {
        flex: none;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-top: 15px;

        width: $hills-size;
        height: $hills-size;

        // We put the images side by side on one row and use negative margins to overlap them!
        display: flex;
        flex-flow: row nowrap;

        .hills {
            width: 100%;
            flex: none;
            clip-path: ellipse(calc($hills-size/2) calc($hills-size/2) at 50% 50%);
        }
    }
}