@import "transform";
@import "responsive_unit";
@import "psycho_circle";

html body {
    background-color: #b1c3cd;
}

.content {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;

    background-image: url("../resources/index/main-me.png"), url("../resources/index/main-clouds-left.png"), url("../resources/index/main-clouds-right.png"),
        url("../resources/index/main-bg.jpg");
    background-repeat: no-repeat;

    // I don't know how the fuck I tweaked these 
    // but I'll never touch them again:
    //
    // Edit: I lied
    @media only screen and (max-width: 200px) {
        & {
            background-size: 210%, 0%, 0%, 0%;
        }
    }

    @media only screen and (min-width: 201px) {
        & {
            background-size: 210%, 350%, cover, cover;
            background-position: 0px 0px, -80px -100px, 0px 0px, 0px 0px;
        }
    }

    @media only screen and (min-width: 401px) {
        & {
            background-size: 210%, 350%, cover, cover;
            background-position: 0px -100px, -80px -100px, 0px 0px, 0px 0px;
        }
    }

    @media only screen and (min-width: 851px) {
        & {
            background-size: 110%, 120%, cover, cover;
            background-position: 0px 50px, -50px -100px, -800px 0px, 0px 0px;
        }
    }
}

$dash-width: 0.4rem;

.main {
    display: grid;

    height: fit-content;

    @media only screen and (max-width: 500px) {
        & {
            grid-template-columns: 95vw;
            grid-template-rows: 10rem 10rem auto 10rem auto;
            
            grid-template-areas:
                "header"
                "."
                "introduction"
                "arrow"
                "retro_button";
        }
    }

    @media only screen and (min-width: 501px) {
        & {
            grid-template-columns: 45vw 45vw;
            grid-template-rows: 5rem 5rem auto 5rem auto;

            grid-template-areas:
                "header header"
                ". ."
                ". introduction"
                "arrow arrow"
                "retro_button retro_button";
        }
    }

    justify-items: center;
    justify-content: center;
    align-content: stretch;

    .header {
        grid-area: header;

        color: #ececec;

        font-size: 0.7rem;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 1px 1px #70a1cc;

        letter-spacing: 0.4rem;

        padding-top: 1rem;
    }

    .introduction {
        grid-area: introduction;

        @media only screen and (max-width: 500px) {
            & {
                border: $dash-width dashed #ffffff;
                
                margin: 0.5rem;
                margin-bottom: 0;

                justify-self: center;
                text-align: center;
            }
        }
    
        @media only screen and (min-width: 501px) {
            & {
                border: 0;
                border-left: $dash-width dashed #ffffff;

                margin: 0;
                padding: 0;
                padding-left: 0.5rem;

                justify-self: left;
                text-align: left;
            }
        }

        color: #ffffff;

        text-shadow: 0px 0px 5px #8fa9c0;

        font-size: 1.5rem;
    }
}

/* For debugging.
.content * {
    border: 1px solid yellow;
}
*/

.arrow {
    grid-area: arrow;

    align-self: stretch;
    justify-self: stretch;

    justify-content: center;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);

    padding-bottom: 50px;

    .vertical_line {
        grid-row: 1 / span 3;
        grid-column: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        width: $dash-width;
        margin-top: $dash-width;

        .inner {
            height: 100%;
            border-left: $dash-width dashed #ffffff;
        }
    }

    .end {
        width: $dash-width * 5;
        height: $dash-width * 5;

        border-bottom: $dash-width dashed #ffffff;
    }

    .end_left {
        grid-row: 3;
        grid-column: 1;

        justify-self: flex-end;
        align-self: flex-end;

        @include transform-origin(bottom right);
        @include transform(translate(calc($dash-width / 2), calc($dash-width / 2)) rotate(45deg));
    }

    .end_right {
        grid-row: 3;
        grid-column: 2;

        justify-self: flex-start;
        align-self: flex-end;

        @include transform-origin(bottom left);
        @include transform(translate(calc($dash-width / 2), calc($dash-width / 2)) rotate(-45deg));
    }
}

.retro_button {
    grid-area: retro_button;

    @include psycho-circle-button(10rem);
}

$washed-white-color: rgba(255, 255, 255, 0.762);

.social_media {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 5rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 500px) {
        & {
            width: 95vw;
            padding: 0.5rem;
        }
    }

    @media only screen and (min-width: 501px) {
        & {
            width: 80vw;
            padding: 0;
        }
    }

    .info_text, .mail {
        color: $washed-white-color;
        font-size: 2.5rem;

        margin-bottom: 2rem;

        width: min(100%, 1rem * 40);

        @media only screen and (max-width: 500px) {
            & {
                text-align: center;
            }
        }
    
        @media only screen and (min-width: 501px) {
            & {
                text-align: left;
            }
        }

        a {
            color: $washed-white-color;
            text-decoration: none;

            $less-washed-white-color: rgba(255, 255, 255, 0.862);

            &:hover {
                color: $less-washed-white-color;
                text-decoration: underline;
            }
        }
    }

    .icons {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: row;

        span {
            margin: 5px;
        }

        .dashed {
            width: 50%;
            height: calc($dash-width / 2);

            border-top: $dash-width dashed $washed-white-color;
        }

        .github,
        .linkedin,
        .instagram {
            cursor: pointer;
        }

        .github img {
            width: 2rem;
        }

        .instagram img {
            width: 2rem;
        }

        .linkedin img {
            width: 2rem;
        }
    }
}

.goodbye {
    margin-top: 10rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;

    width: 80vw;

    .copyright_and_greet {
        display: flex;
        flex-direction: row;

        .copyright {
            writing-mode: vertical-rl;

            @include pixels-to-responsive-unit(font-size, 8px, 10px, 12px);

            font-weight: 700;
            letter-spacing: 0.07rem;

            color: #ffffff;

            text-shadow: 0px 0px 2px #6c98b6;
        }

        .greet {
            @include pixels-to-responsive-unit(font-size, 70px, 180px, 190px);
            @include pixels-to-responsive-unit(line-height, 45px, 110px, 120px);

            color: #ffffff;
            text-shadow: 3px 3px 2px #92ffff, -3px -3px 2px #ff4bff;
        }
    }

    .credits {
        margin-top: 5rem;

        font-size: 0.5em;
        font-weight: 700;
        letter-spacing: 0.07rem;

        color: #ffffff;

        text-shadow: 0px 0px 2px #6c98b6;

        align-self: right;
        text-align: right;

        a {
            color: #027780;
            cursor: pointer;
        }
    }
}