@-webkit-keyframes psycho_circle {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(3px, 3px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-3px, -3px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
@keyframes psycho_circle {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(3px, 3px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-3px, -3px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
html body {
  background-color: #b1c3cd;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../resources/index/main-me.png"), url("../resources/index/main-clouds-left.png"), url("../resources/index/main-clouds-right.png"), url("../resources/index/main-bg.jpg");
  background-repeat: no-repeat;
}
@media only screen and (max-width: 200px) {
  .content {
    background-size: 210%, 0%, 0%, 0%;
  }
}
@media only screen and (min-width: 201px) {
  .content {
    background-size: 210%, 350%, cover, cover;
    background-position: 0px 0px, -80px -100px, 0px 0px, 0px 0px;
  }
}
@media only screen and (min-width: 401px) {
  .content {
    background-size: 210%, 350%, cover, cover;
    background-position: 0px -100px, -80px -100px, 0px 0px, 0px 0px;
  }
}
@media only screen and (min-width: 851px) {
  .content {
    background-size: 110%, 120%, cover, cover;
    background-position: 0px 50px, -50px -100px, -800px 0px, 0px 0px;
  }
}

.main {
  display: grid;
  min-height: 100vh;
  justify-items: center;
  justify-content: center;
  align-content: stretch;
}
@media only screen and (max-width: 500px) {
  .main {
    grid-template-columns: 95vw;
    grid-template-rows: 10rem 10rem auto 10rem auto;
    grid-template-areas: "header" "." "introduction" "arrow" "retro_button";
  }
}
@media only screen and (min-width: 501px) {
  .main {
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 5rem 5rem auto 5rem auto;
    grid-template-areas: "header header" ". ." ". introduction" "arrow arrow" "retro_button retro_button";
  }
}
.main .header {
  grid-area: header;
  color: #ececec;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 1px #70a1cc;
  letter-spacing: 0.4rem;
  padding-top: 2rem;
  line-height: 1.7;
}
.main .header h6 {
  margin: 0;
}
.main .introduction {
  grid-area: introduction;
  max-width: 27rem;
  color: #ffffff;
  text-shadow: 0px 0px 5px #8fa9c0;
  font-size: 1.5rem;
}
@media only screen and (max-width: 500px) {
  .main .introduction {
    border: 0.4rem dashed #ffffff;
    margin: 0.5rem;
    margin-bottom: 0;
    padding: 0.5rem;
    justify-self: center;
    text-align: center;
  }
}
@media only screen and (min-width: 501px) {
  .main .introduction {
    border: 0;
    border-left: 0.4rem dashed #ffffff;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    justify-self: left;
    text-align: left;
  }
}

/* For debugging.
.content * {
    border: 1px solid yellow;
}
*/
.arrow {
  grid-area: arrow;
  align-self: stretch;
  justify-self: stretch;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  padding-bottom: 50px;
}
.arrow .vertical_line {
  grid-row: 1/span 3;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.4rem;
  margin-top: 0.4rem;
}
.arrow .vertical_line .inner {
  min-height: 100%;
  border-left: 0.4rem dashed #ffffff;
}
.arrow .end {
  width: 2rem;
  min-height: 2rem;
  border-bottom: 0.4rem dashed #ffffff;
}
.arrow .end_left {
  grid-row: 3;
  grid-column: 1;
  justify-self: flex-end;
  align-self: flex-end;
  transform-origin: bottom right;
  transform: translate(0.2rem, 0.2rem) rotate(45deg);
}
.arrow .end_right {
  grid-row: 3;
  grid-column: 2;
  justify-self: flex-start;
  align-self: flex-end;
  transform-origin: bottom left;
  transform: translate(0.2rem, 0.2rem) rotate(-45deg);
}

.retro_button {
  grid-area: retro_button;
}
.retro_button {
  height: 10rem;
  align-self: flex-start;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.retro_button .border {
  display: flex;
  align-items: center;
  justify-content: center;
}
.retro_button .border a {
  position: absolute;
  width: 10rem;
  height: 10rem;
  -webkit-clip-path: ellipse(5rem 5rem at 50% 50%);
          clip-path: ellipse(5rem 5rem at 50% 50%);
}
.retro_button .border a img {
  width: 10rem;
  height: 10rem;
}
.retro_button .border .circle {
  position: absolute;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}
.retro_button .border .circle:nth-of-type(1) {
  box-shadow: 0 0.15em 0 0 rgba(28, 72, 249, 0.25), -0.15em 0 0 rgba(50, 132, 237, 0.25), 0.15em 0 0 0 rgba(28, 72, 249, 0.25), -0.15em 0 0 0 rgba(50, 132, 237, 0.25), 0em 0 0 rgba(39, 102, 243, 0.5), -0.15em 0.15em 0 0 rgba(39, 102, 243, 0.5), 0.15em 0.15em 0 0 rgba(17, 41, 255, 0.75), -0.3em 0 0 rgba(61, 162, 230, 0.75);
}
.retro_button .border .circle:nth-of-type(2) {
  box-shadow: 0 0.1em 0 0 rgba(64, 0, 192, 0.25), -0.1em 0 0 rgba(192, 0, 64, 0.25), 0.1em 0 0 0 rgba(64, 0, 192, 0.25), -0.1em 0 0 0 rgba(192, 0, 64, 0.25), 0em 0 0 rgba(128, 0, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 0, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 0, 255, 0.75), -0.2em 0 0 rgba(255, 0, 0, 0.75);
  -webkit-animation: psycho_circle 3s linear infinite;
          animation: psycho_circle 3s linear infinite;
}
.retro_button .border .circle:nth-of-type(3) {
  box-shadow: 0 0.1em 0 0 rgba(64, 255, 192, 0.25), -0.1em 0 0 rgba(192, 255, 64, 0.25), 0.1em 0 0 0 rgba(64, 255, 192, 0.25), -0.1em 0 0 0 rgba(192, 255, 64, 0.25), 0em 0 0 rgba(128, 255, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 255, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 255, 255, 0.75), -0.2em 0 0 rgba(255, 255, 0, 0.75);
  -webkit-animation: psycho_circle 3s linear 0.1s infinite;
          animation: psycho_circle 3s linear 0.1s infinite;
}
.retro_button .border .circle:nth-of-type(4) {
  box-shadow: 0 0.1em 0 0 rgba(64, 192, 64, 0.25), -0.1em 0 0 rgba(192, 64, 192, 0.25), 0.1em 0 0 0 rgba(64, 192, 64, 0.25), -0.1em 0 0 0 rgba(192, 64, 192, 0.25), 0em 0 0 rgba(128, 128, 128, 0.5), -0.1em 0.1em 0 0 rgba(128, 128, 128, 0.5), 0.1em 0.1em 0 0 rgba(0, 255, 0, 0.75), -0.2em 0 0 rgba(255, 0, 255, 0.75);
  -webkit-animation: psycho_circle 3s linear 0.2s infinite;
          animation: psycho_circle 3s linear 0.2s infinite;
}

.social_media {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 500px) {
  .social_media {
    max-width: 95vw;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 501px) {
  .social_media {
    max-width: 80vw;
    padding: 0;
  }
}
.social_media .info_text, .social_media .mail {
  color: rgba(255, 255, 255, 0.762);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  width: min(100%, 40rem);
}
@media only screen and (max-width: 500px) {
  .social_media .info_text, .social_media .mail {
    text-align: center;
  }
}
@media only screen and (min-width: 501px) {
  .social_media .info_text, .social_media .mail {
    text-align: left;
  }
}
.social_media .info_text a, .social_media .mail a {
  color: rgba(255, 255, 255, 0.762);
  text-decoration: none;
}
.social_media .info_text a:hover, .social_media .mail a:hover {
  color: rgba(255, 255, 255, 0.862);
  text-decoration: underline;
}
.social_media .icons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.social_media .icons span {
  margin: 5px;
}
.social_media .icons .dashed {
  width: 50%;
  min-height: 0.2rem;
  border-top: 0.4rem dashed rgba(255, 255, 255, 0.762);
}
.social_media .icons .github,
.social_media .icons .linkedin,
.social_media .icons .instagram {
  cursor: pointer;
}
.social_media .icons .github img {
  width: 2rem;
}
.social_media .icons .instagram img {
  width: 2rem;
}
.social_media .icons .linkedin img {
  width: 2rem;
}

.goodbye {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
@media only screen and (max-width: 500px) {
  .goodbye {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 501px) {
  .goodbye {
    margin-top: 10rem;
  }
}
.goodbye .copyright_and_greet {
  display: flex;
  flex-direction: row;
}
.goodbye .copyright_and_greet .copyright {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: clamp(0.625rem, 1.2vw, 0.875rem);
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #ffffff;
  text-shadow: 0px 0px 2px #6c98b6;
}
.goodbye .copyright_and_greet .greet {
  font-size: clamp(7.5rem, 18vw, 11.875rem);
  line-height: clamp(5rem, 11vw, 7.5rem);
  color: #ffffff;
  text-shadow: 3px 3px 2px #92ffff, -3px -3px 2px #ff4bff;
}
.goodbye .credits {
  margin-top: 5rem;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #ffffff;
  text-shadow: 0px 0px 2px #6c98b6;
  align-self: right;
  text-align: right;
}
.goodbye .credits a {
  color: #027780;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */